!!! 5
%html
  %head
    %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:src=>"jquery.hotkeys.js"}
    %script{:src=>"codemirror.js"}
    %script{:src=>"javascript.js"}
    %script{:src=>"application.js"}
    %link{:rel=>"stylesheet", :href=>"codemirror.css"}
    %link{:rel=>"stylesheet", :href=>"application.css"}
    %title JavaScrape
  %body
    #container
      %a{:href=>'http://www.gsi.dit.upm.es'}
        %img.logo{:src=>'gsi.png'}
      %a{:href=>"http://github.com/josei/javascrape"}
        %img{:style=>"position: absolute; top: 0; right: 0; border: 0;", :src=>"https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", :alt=>"Fork me on GitHub"}
      %h1 JavaScrape
      %p
        %textarea#code.code= example
      %p
        %input#run{:type=>"submit", :value=>"Run"}
        %span.tip=escape_html "<ALT+R>"
      %script{:type=>"application/javascript"}= code_mirror_js
      %pre#result